<%- include ('includes/header') %>
  <body>
    <div class="card" style="width: 18rem">
      <img style="width: 300px;" height="300px";
        src="https://assistanteplus.fr/wp-content/uploads/2022/04/chat-midjourney.webp"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </body>
</html>
<%- include ('includes/footer') %>